@{
    ViewData["Title"] = "Home";
}

<h1>FiloCine</h1><br>

@foreach (Serie serie in ViewBag.listSeries)
{
  <div class = "contenedor">
        <div class="card">
            <h2 class="card-title"><b>@serie.Nombre</b></h2>
            <img src="@serie.ImagenSerie" alt="img" style="width:100%">
            <div class="container">
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalSerie" onclick="MostrarTemporadas(@serie.IdSerie,'@serie.Nombre')">Temporadas</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalSerie" onclick="MostrarActores(@serie.IdSerie,'@serie.Nombre')">Actores</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalSerie" onclick="MostrarInfo(@serie.IdSerie,'@serie.Nombre')">Mas Info</button>
                </div>
            </div>
        </div>
  </div>
  <br><br>

}
<!-- Modal -->
<div class="modal fade" id="ModalSerie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Titulo"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="Cuerpo">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<br><br>
<footer>
<h3>Créditos a Tamara Yael Dratler y Santiago Mateo Butler</h3>

<br>
<h3>Contactos a tamibuCompany@gmail.com</h3><br>

</footer>